@import "bootstrap-sprockets";
@import "bootstrap";

a{
  font-size: 20px;
}



.job{
  display: inline-block;
  width: 40%;
  margin: 35px 4% auto;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
}

.company .info{
    float :right;
    width: 90%;
}

.company .logo{
  float :left;
}

.job .info{
  float :left;
}

.job .logo {
  float :right;
}

.job h2{
  font-size: 24px;
}
.job p{
  font-size: 20px;
}

.carousel{
  height:300px;
  background-color: #57C7C2;
  padding-left: 150px;
}


.carousel-inner .item .info{
  float:right;
  width: 70%;
}

.carousel-inner .item p{
  font-size:20px;
}
.carousel-inner .item img{
  float:left;
  width: 200px;
  height: 200px;

}

.navbar{
  margin: 0;
}


#jobs{
  float:left;
  width: 70%;
  margin-bottom: 70px;
}

#filters{
  float:right;
  width: 30%;
}

#filters div{
  display: block;
  margin-bottom: 55px;
}
