@import "bootstrap-sprockets";
@import "bootstrap";

.job{
  display: inline-block;
  width: 40%;
  margin: 35px 4% auto;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
}

#jobs{
  float:left;
  width: 70%;
}

#menu{
  float:right;
  width: 30%;
}

#menu div{
  display: block;
}
